@import "tailwindcss";
@import "katex/dist/katex.min.css";

@plugin '@tailwindcss/typography';

@theme {
  /* fonts */
  --font-plex: "IBM Plex Mono", monospace;
  --font-geist: "Geist", sans-serif;

  /* colors */
  --color-primary: oklch(86.89 0.29 142.02); /* #27FF0B*/
  --color-background: oklch(99.7 0 0); /* #fefefe */
  --color-foreground: oklch(0 0 0); /* #000000 */
  --color-secondary: oklch(0.38 0 1); /* #434343*/
}

.heading {
  @apply font-plex font-bold tracking-tight;
}

html {
  @apply scroll-smooth;
}

body {
  @apply font-geist text-foreground bg-background;
}

article {
  @apply prose prose-neutral prose-img:mx-auto prose-img:my-auto text-lg leading-8;
  @apply prose-headings:font-bold prose-headings:font-plex prose-headings:text-foreground mx-auto;
  @apply text-secondary prose-a:underline-offset-2;
}

article :is(h2, h3) {
  scroll-margin-top: 8rem;
}

article
  :where(code):not(
    :where(pre > code, [class~="not-prose"], [class~="not-prose"] *)
  ) {
  @apply bg-foreground/5 text-foreground font-plex rounded-md px-1.5 py-0.5 text-[0.9em] font-medium;
}

article
  :where(code):not(
    :where([class~="not-prose"], [class~="not-prose"] *)
  )::before,
article
  :where(code):not(
    :where([class~="not-prose"], [class~="not-prose"] *)
  )::after {
  content: "";
}

article .katex-display {
  @apply overflow-x-auto overflow-y-hidden py-2;
}
